<div class="player-name"><b>{{nev}}</b></div>
<img class="player-img" src="{{kep}}" alt="Játékos képe">
<div class="player-data">
    <p><span>Nemzetiség:</span>{{nemzetiseg}}</p>
    <p><span>Kor:</span>{{kor}}</p>
    <p><span>Gólok:</span>{{golok}}</p>
</div>