<h3>{name}</h3>
<span class="title">{role}</span>
<img src="/image/{img}" alt="{name}">
<div class="info">
    <label>Faj</label><span class="value">{race}</span>
    <label>Megjelent</label><span class="value">{appeared}</span>
    <label>Fegyver</label><span class="value">{weapon}</span>
    <label>Otthon</label><span class="value">{location}</span>
</div>