car-card {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    width: 16em;
    height: 20em;
    background-color: silver;
}

car-card img {
    grid-column: 1 / 3;
    width: 12em;
    object-fit: cover;
}

car-card h3 {
    grid-column: 1 / 3;
    margin: 0em;
}

car-card .label {
    grid-column: 1;
}

car-card .value {
    grid-column: 2;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}